<h1>Create A New Recipe</h1>

<%= form_fo @recipe do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :ingredient %>
<%= form.text_field :ingredient %>
<%= form.submit %>
