<h2>Edit Account Information for <%=@user.name%></h2>

<%= form_for @user do |form| %>
<%= form.label :user_name %>
<%= form.text_field :user_name %>
<%= form.label :password %>
<%= form.text_field :password %>
<%= form.submit %>
<% end %>

<br>

<%= link_to "Back to Home Page" , user_path %>
