<h2><%= @user.name %>'s Profile</h2>

<h3>Account Information</h3>
<p>Username: <%=@user.user_name %></p>
<p>Password: ******** </p>

<p><%= link_to "Change Username or Password" , "/users/#{@user.id}/edit" %></p>

<p><%= link_to "Create A New Recipe", "/recipes/new" %></p>

<p><%= link_to "View My Recipes", "/recipes/" %></p>
