<h1>Welcome to Share my Recipes</h1>

<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error_msg| %>
  <li>
    <%= error_msg %>
    </li>
    <%end%>
  </ul>
  <%end%>

<h4>Use the login form below to access your credentials </h4>
<br>

<%= form_tag "/login" do %>
<%= label_tag :user_name %>
<%= text_field_tag :user_name %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag "Login" %>
<% end %>

<p>If you do not have an account with us <%= link_to "Click Here", "/users/new" %> to create one</p>
<p> If you forgot your password <%= link_to "Click Here", "/security_answers/verify" %> to reset </p>
