<!DOCTYPE html>
<html>
  <head>
    <title>AllergenRailsLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:lightgreen;">
    <header>
      <% if @logged_in %>
      <h3>
        Logged in as: <%=@current_user.name %>
      </h3>
         <%= button_to "Log out #{@current_user.name}", "/logout", method: :delete %>
           <% else %>
             <% end %>
    <%= yield %>
    </header>
  </body>
</html>
